@model IEnumerable<MVCAssignment5.Models.StockItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form action="Index" method="get" >
    <input type="text" placeholder="enter search phrase" name="search" />
    <input type="submit" value="Search" />
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.DisplayFor(modelItem => item.ArticleNumber)  
        </td>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ArticleNumber })  
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticleNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArticleNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticleNumber })
        </td>
    </tr>
}

</table>
